<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Obversa</title>
    <link rel="stylesheet" href="/styles/obversa.css">
  </head>
  <body>
    <header>
      <h1>Obversa</h1>

      <% if session[:email] %>
        <p>Logged in as <%= session[:email] %>.</p>
        <a href="/logout">Log out</a>
      <% else %>
        <a href="/login">Log in</a>
      <% end %>
    </header>

    <% if flash %>
      <% flash.each do |type, message| %>
        <p><%= message %></p>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
