<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Obversa</title>
    <link rel="stylesheet" href="/styles/obversa.css" %>
  </head>
  <body>
    <header>
      <h1>Obversa</h1>
    </header>
    <%= yield %>
  </body>
</html>
