<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Obversa</title>
    <link rel="stylesheet" href="/styles/obversa.css">
  </head>
  <body>
    <header>
      <h1>Obversa</h1>
    </header>

    <% if flash %>
      <% flash.each do |type, message| %>
        <p><%= message %></p>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
